# Gateway Configuration
HOST=0.0.0.0
PORT=8080
ROOT_PATH="/api/middleware"
ENVIRONMENT=development

# Microservices
# Pattern: SERVICE_<SERVICE_NAME>_URL
# Example: SERVICE_AUTH_URL=https://auth.dominio.com | http://localhost:<port>
SERVICE_AUTH_URL=
SERVICE_IAM_URL=
SERVICE_CORE_URL=
SERVICE_MFA_URL=
SERVICE_ONBOARDING_URL=
SERVICE_HEALTH_MONITORING_URL=
SERVICE_STORAGE_URL=
SERVICE_ADMIN_URL=
SERVICE_LOGGER_URL=
SERVICE_NOTIFY_URL=
SERVICE_CATALOGS_URL=
SERVICE_ORGANIZATIONS_URL=